@tailwind base;
@tailwind components;
@tailwind utilities;

.check-out{
    background:linear-gradient(#0005, #0009), url('./assets/home/featured.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}